
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');


.header{
	display: flex;
	align-items: center;
	height: 65px;
	background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
	color: white;
	font-family: 'Karla', sans-serif;
}

.header--image{
	height: 30px;
	padding-left: 20px;
}

.header--title{
	font-size: 1.25rem;
	padding-left: 20px;
	margin-right: auto;
}

.header--desc{
	font-size: 0.9rem;
	padding-right: 20px;
}

.form{
	align-items: center;
	font-family: 'Karla', sans-serif;
	padding: 40px 100px;
	display: grid;
	grid-template: 40px 40px / 1fr 1fr;
	gap: 17px;
}

.form--button{
	padding: 10px;
	font-family: 'Karla', sans-serif;
	background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
	color: white;
	font-size: 1.1rem;
	font-weight: 700;
	border: none;
	border-radius: 0.3em;
	grid-column: 1 / -1;
	cursor: pointer;
}

.form--input{
	font-family: 'Karla', sans-serif;
	padding: 12px 10px;
	border-radius: 0.3em;
	text-align: left;
	color: black;
	font-weight: 1000;
	border-color: grey;
	border-style: solid;
	border-width: 0.1em;
}

.meme--image{
	width: 50%;
	align-items: center;
	padding: 0px 100px;
}